/* styles.css or product.component.scss */
.p-button-rounded {
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .p-button-warning {
    background-color: #ffcc00;
    border-color: #ffcc00;
  }
  
  .p-button-danger {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  